.explore-more__desc {
  max-width: 60%;
}
.explore-more__menu-container {
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.explore-more__menu-container::-webkit-scrollbar {
  display: none;
}

.explore-more__menu {
  /* margin: 1rem 0; */
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: space-between;
}

/* .explore-more__menu-item {
  cursor: pointer;
} */

.explore-more__menu-image {
  max-width: 18vw;
  cursor: pointer;
}

.category-active {
  padding: 0.1em;
  border-radius: 50%;
  border: 0.25em solid transparent;
  border-color: var(--main-bg-orange);
}

.explore-more__menu-category {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .explore-more__desc {
    display: none;
  }
}
