.explore-more {
  max-width: 100%;
}

.explore-more__desc {
  max-width: 65%;
}

.explore-more__menu {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.explore-more__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.explore-more__menu-item {
  text-align: center;

  img {
    max-width: 25vw;
  }
}

@media screen and (max-width: 1024px) {
  .explore-more__desc {
    display: none;
  }
}
