.food_price-card {
  min-width: 160px;
  /* min-height: 300px; */
  width: calc((100% / 4) - 1.5rem);
  border-radius: 1rem;
  overflow: hidden;
  border: 2px solid rgb(0, 0, 0, 0.1);
  transition: transform 200ms, box-shadow 250ms;
}

.food_price-card:hover {
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  transform: scale(1.025);
}

.food-details {
  padding-block: clamp(0.25rem, 0.5rem, 0.75rem);
  padding-inline: 1rem;
}

.food-details .price {
  color: var(--primary-color);
}

.food-img {
  width: 100%;
}

.food-img img {
  width: 100%;
}

.rating {
  font-size: var(--font-small);
}
