:root {
  --header-height: 70px;
  --primary-color: #ff4c24;
  --font-small: 0.875rem;
}

.app {
  padding-inline: 1.5rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.icon {
  font-weight: 600;
  font-size: 1.5rem;
  margin-inline: 0.5em;
}

.btn {
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  font-size: var(--font-small);
  font-weight: 500;
  border: 1px solid var(--primary-color);
}

.hidden-sm {
  display: block;
}
.visible-sm {
  display: none;
}

@media screen and (max-width: 768px) {
  .app {
    padding-inline: 1rem;
  }

  .hidden-sm {
    display: none;
  }
  .visible-sm {
    display: initial;
  }
}
